Source: birmingham-cross-city-south
Section: games
Priority: optional
Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0
Homepage: http://www.railsimroutes.co.uk/x-city_south/

Package: bve-route-cross-city-south
Architecture: all
Provides: bve-route
Suggests: bve-train-br-class-323
Recommends: bve-engine
Description: Birmingham Cross-City South (for OpenBVE rail simulator)
 Very accurate train simulator route stretching from Redditch to
 Birmingham New Street station in the United Kingdom.  The line is
 electrified, starting off single-track in the countryside before
 reaching the inner metropolitan area.  15 miles / 25 km.
 .
 The route contains multiple timetables and varied activities for
 different seasons and times of day... including blanket snow!
 .
 A suitable train is the British Rail Class 323 EMU. The route stops
 at the purple-coloured Bournville station next Cadbury's chocolate
 factory.
 . 
 This version of the Birmingham Cross-City South route has been
 specially prepared for inclusion with openBVE, and is released into
 the public domain.
 .
 http://www.railsimroutes.co.uk/x-city_south/
