#!/usr/bin/make -f
export DH_VERBOSE=1

TARGET = $(CURDIR)/debian/bve-route-cross-city-south
DOCTARGET = $(TARGET)/usr/share/doc/bve-route-cross-city-south

# Standarised location
BVETARGET = $(TARGET)/usr/share/games/bve

# Components
MODELDIR = Railway/Object/Bham_X-City_South
SOUNDDIR = Railway/Sound/Bham_X-City_Sounds
ROUTEDIR = Railway/Route/Birmingham_Cross-City_South

# This on is renamed to something Nicer
ROUTETARGET = $(BVETARGET)/$(ROUTEDIR)
SOUNDTARGET = $(BVETARGET)/$(SOUNDDIR)

# Script to symlink based on md5sum
SYMLINK_DUPS = $(CURDIR)/debian/symlink-duplicates.sh

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf $(TARGET)
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Hardlink the textures/models during building (for speed) since we don't modify them
	for component in $(MODELDIR) $(SOUNDDIR) ; do \
	  cp -al $(CURDIR)/$$component/* $(BVETARGET)/$$component/ ; \
	done

	# Change the Route name to something closer to the previous tarball
	# A Copy is done, so that we can do an in-place 'sed' aftewards
	cp -a $(CURDIR)/$(ROUTEDIR)/* $(ROUTETARGET)/

	# Patch signalling-only stations to be marked 'P' for pass-through (LP: #419525)
	# Signed-off by and sent upstream on 2009-09-01
	find $(ROUTETARGET) -name \*.csv -print0 | xargs -0 sed -i -e 's/\.Sta  ;;\([^;]*\);;/.Sta  ;P;\1;0;/'

	# Fix up the suggested Nice_Name of the recommended train to what rename it to elsewhere
	find $(ROUTETARGET) -name \*.csv -print0 | xargs -0 sed -i -e 's/\.Folder bve-train-br-class-323-unrefurb/.Folder BR_Class_323/'

	# There are duplicates of the documentation, delete these as
	# .docs already installed a complete pair.
	find $(BVETARGET) -name \*.txt -o -name \*.htm -print0 | xargs -0 rm

	# Replaces spaces and parentheses with '_' underscores
	# (nb. sed doesn't have a -0 line separator)
	find $(ROUTETARGET) -name '*[ )(]*' -print | sed -nre 'p;s/[)( ]+/_/g;s/_\././g;p' | xargs -d'\n' -n2 mv

	# Symlink duplicate files
	/bin/sh $(SYMLINK_DUPS) $(BVETARGET)/$(MODELDIR) $(SOUNDTARGET)

	# Recode big .wavs to Ogg Vorbis;  SDL_LoadWAV loads them happily
	# The impulse_noisetune is to keep the pitta-patta of the raindrops in Thunder*.wav
	find $(SOUNDTARGET) -type f -iname \*wav -exec oggenc --advanced-encode-option impulse_noisetune=-5 -q6 -o {}.ogg {} \; -exec mv {}.ogg {} \;

binary-arch:
	# Do nothing

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installchangelogs
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_link
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb -- -Z lzma

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
